
body{
    font-family: 'Poppins', sans-serif;
}
a {
  color: white !important;
}

.gray {
  filter: grayscale(100%);
}
i {
  color: gold;
}
.margin-cus {
  margin-top: 160px;
  margin-bottom: 160px;
}

h1{
  font-size: 48px;
}
.div-height{
  width: 160px;
}
