
body{
    font-family: 'Poppins', sans-serif;
}
a {
  color: white !important;
}
.img-circle {
  width: 160px;
  height: 160px;
  border-radius: 80px;
}
.gray {
  filter: grayscale(100%);
}
.com-height {
  height: 50%;
}
i {
  color: gold;
}
.margin-cus {
  margin-top: 160px;
  margin-bottom: 160px;
}
.text-cus p{
    padding: 0;
}
.text-cus h1{
    padding: 0;
}
/* .text-cus{
    padding: 30px 0px;
} */